@import 'mailer/reset'
@import 'mailer/content'  

body
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  padding: 20px
  color: #333333

.left
  text-align: left

.right
  text-align: right

div.container
  width: 600px
  margin: auto

.small
  font-size: 12px

div.footer
  font-size: 12px
  padding-top: 40px
  text-align: center

div.questions
  padding-top: 20px

a
  color: #00d1b2
  text-decoration: none

.button
  text-align: center
  line-height: 2.5em
  width: 100%
  display: block
  color: #ffffff
  text-decoration: none

.is-primary
  background-color: #00d1b2

div.header
  border-bottom: 1px solid #cccccc
  padding: 10px

  table
    width: 100%

div.body
  padding:
    top: 30px
    bottom: 30px
  
  h1
    font-size: 26px
    font-weight: bold
    border-bottom: 1px solid #cccccc
    margin-bottom: 20px