section.hero.is-large.is-fullheight
  div.hero-body
    div.container.has-text-centered
      h1.title.is-cursive Kirsten &amp; Adam
      h2.subtitle - 27th April 2019 -
      h2.subtitle 🇬🇧 🇿🇦
      div#login-form.columns
        = render partial: 'sessions/login_form'