#splash
  .hero-body
    padding:
      top: 12rem
      bottom: 12rem

  h1
    color: #ffffff
    font-size: 4em
    @extend .drop-shadow

  h2
    font-weight: bold
    color: #FDFDF0
    @extend .drop-shadow

.drop-shadow
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5)

.mobile-nav
  display: none
  +until($tablet)
    display: block
  
  a
    display: block
    background-color: #ffffff
    text-align: center
    color: #333333
    border-radius: 2px
    padding: 0.5em 0.75em

.menu
  +until($tablet)
    display: none

.bg-wrapper
  background:
    image: asset_url("divider2.png")
    position: bottom
    repeat: no-repeat
  padding-bottom: 50px
  +until($tablet)
    background-size: 300px

.page-splash
  margin-bottom: 20px
  padding: 20px
  padding-bottom: 40px
  background:
    image: asset_url("divider2.png")
    position: bottom
    repeat: no-repeat
  +until($tablet)
    background-size: 300px
  
  h1
    line-height: 1em
    font-size: 5em
    text-align: center
    @extend .is-cursive
    +until($tablet)
      font-size: 4.1em


.menu
  .menu-label
    color: #ffffff
    font-size: 2em
    letter-spacing: 0px
    font-weight: bold
    margin:
      bottom: 0px
      top: 0px
    text-transform: none
    @extend .drop-shadow
    @extend .is-cursive
  
.menu-list
  a
    color: #ffffff
    font-weight: bold
    @extend .drop-shadow
  
    &:hover
      text-shadow: none

  a.is-active
    text-shadow: none
    color: #333333
    background-color: #ffffff

.relative
  position: relative

.white
  background-color: #ffffff
  padding: 10px

.border
  border: 2px solid #5c794d
  background-color: #ffffff

.padding
  padding: 18px

.polaroid
  float: right
  width: 300px
  z-index: 10
  margin-right: -50px
  margin-top: -50px
  transform: rotate(12deg)
  +until($tablet)
    width: 150px
    margin-right: -20px
    margin-top: -20px


.leaves
  width: 200px
  position: absolute
  +until($tablet)
    width: 120px

  &.top-left
    top: -50px
    left: -50px
    +until($tablet)
      top: -30px
      left: -30px
  &.bottom-right
    bottom: -50px
    right: -50px
    +until($tablet)
      bottom: -30px
      right: -30px
      